<div class='container container-br-b'>
  <h2 class='title-lg mb-sm'>Редактирование вопроса #<%= @question.id %></h2>
  <div class='mb'>
    <%= render 'author', question: @question %>
  </div>

  <%= render 'form', question: @question %>
</div>
