<div class='container mt-sm container-br'>
  <h2 class='title-lg'>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class='mt-sm container container-br'>
    <%= render 'question', question: question %>
  </div>
<% end %>
