<div class='container'>
  <h2 class='title-lg mb'>Вопросы</h2>

  <% @questions.each do |question| %>
    <p class='mb-sm'><%= link_to "Вопрос #{question.id}", question_path(question.id), class: "#{'text-hidden' if question.hidden?}" %></p>
  <% end %>

  <p class='mt'>
    <%= link_to 'Сoздать новый вопрос', new_question_path, class: 'button button-main' %>
  </p>
</div>
