<div class='container container-br-b'>
  <h2 class='title'>Редактирование цвета шапки</h2>

  <p class='mt'>Выберите цвет</p>

  <div class='mt'>
    <%= form_with scope: :session, url: session_path, method: :patch, data: {turbo: false} do |form| %>
      <p><%= form.label :color %></p>
      <p><%= form.color_field :color, value: session[:color] %></p>

      <p class='mt-lg'><%= form.submit 'Сохранить', class: 'button button-main' %></p>
    <% end %>
  </div>
</div>
