<% background_class = "users-box-user-bg-#{user.id % 5}" %>
<% nickname_letter = user.nickname.first.upcase %>

<div class='users-box-user <%= background_class %> rounded mt ml' >
  <a href='<%= user_path(user) %>'>
    <h1 class='title-lg text-bold'><%= nickname_letter %></h1>
  </a>
</div>
