.button {
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button-main {
  background-color: #ce9475;
}

.button-navbar {
  background-color: #949C81;
}
