body {
  background: #f0e6d1d6;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #fff;
}

.container,
.navbar {
  padding: 20px;
}
  
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-default {
  background-color: #3E503C;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container-br {
  border-radius: 5px;
}

.container-br-b {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
