.message {
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background-color: #f8f8f7;
  border-color: #B7B7A4;
}

.message-alert {
  background-color: #f6ded3;
  border-color: #dd6f3c;
}
