.users-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-box-user {
  flex-basis: 100px;
  flex-grow: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.users-box-user a {
  color: #fff;
  text-decoration: none;
}

.users-box-user-bg-0 {
  background: #a76e6e;
}

.users-box-user-bg-1 {
  background: rgb(209, 164, 104);
}

.users-box-user-bg-2 {
  background: rgb(146, 107, 147);
}

.users-box-user-bg-3 {
  background: rgb(131, 173, 148);
}

.users-box-user-bg-4 {
  background: rgb(104, 107, 155);
}




